<div class="oj-hybrid-padding">
    <oj-c-button style="float: right;" id="buttonOpener" on-oj-action="[[open]]" chroming="danger" label="Add New"><span slot="startIcon" class="oj-ux-ico-plus"></span></oj-c-button>
    <oj-dialog id="modalDialog1" dialog-title="Modal Dialog" aria-describedby="desc">
        <div slot="body">
            <oj-form-layout
            id="formLayoutOptions"
            max-columns="1"
            direction="row"
            user-assistance-density="compact">
                <oj-input-text id="name" value="{{name}}" label-hint="Name" required></oj-input-text>
                <oj-input-text id="company" value="{{company}}" label-hint="Company"></oj-input-text>
                <oj-input-text id="barcode" value="{{barcode}}" label-hint="Bar Code"></oj-input-text>
                <oj-input-number id="stock" value="{{stock}}" label-hint="Stock"></oj-input-number>
                <oj-button id="addnew" on-oj-action="[[addnew]]">Add</oj-button>
          </oj-form-layout>
        </div>
        <div slot="footer">
          <oj-button id="okButton" on-oj-action="[[close]]">OK</oj-button>
        </div>
    </oj-dialog>
</div>